*:focus {
  outline: none;
}
* {
  z-index: unset;
}
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/* nav font */
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap");

/* welcome font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "Saudagar";
  src: local("Saudagar"),
    url(./assets/fonts/Saudagar/Saudagar.ttf) format("truetype");
}
@font-face {
  font-family: "Athene";
  src: local("Athene"),
    url(./assets/fonts/AtheneFF/Athene.otf) format("truetype");
}

::-webkit-scrollbar {
  width: 0px;
}

/* General Css */
html {
  height: -webkit-fill-available;
}
body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  overflow: hidden;
  min-height: -webkit-fill-available;
}
button {
  font-family: "Montserrat", sans-serif;
}
.container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}
