/* Mini-Nav */
.mini-nav {
  padding: 2rem 0;
  font-family: Athene, serif;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.mini-nav a {
  text-decoration: none;
  color: black;
}
.mini-nav h3 {
  text-transform: uppercase;
  font-size: 1rem;
}
.present {
  color: #555555;
}
.specialText2 {
  color: #a85ec2;
}
/* Desktop 15 inches */
@media screen and (max-width: 1600px) {
  .mini-nav h3 {
    font-size: 0.9rem;
  }
}
/* iPad  Pro*/
@media screen and (max-width: 1030px) {
  .mini-nav {
    padding: 0 0 2rem 0;
  }
}
/* iPad */
@media only screen and (max-width: 770px) {
}
/* Surface Duo */
@media screen and (max-width: 550px) {
  .mini-nav h3 {
    font-size: 0.7rem;
  }
}
/* iPhone 6-8 */
@media only screen and (max-width: 380px) {
}
/* iPhone 5 */
@media only screen and (max-width: 322px) {
  .mini-nav h3 {
    font-size: 0.6rem;
  }
}
