/* Home Css */
.mask {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: absolute;
  z-index: 2;
}

.home-section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome {
  display: flex;
  height: 90vh;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  font-family: Athene, serif;
}
.welcome-section {
  display: flex;
  height: 80vh;
  width: 80vw;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.welcome-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-image {
  position: absolute;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}
.mask-revealer {
  position: absolute;
  top: 0;
  background-color: white;
  height: 50rem;
  width: 35rem;
}
.welcome-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.welcome-text {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 40%;
}
.welcome-text h3 {
  font-size: 7.6rem;
  font-weight: 100;
  color: rgb(248, 248, 248);
  mix-blend-mode: difference;
  z-index: 2;
}

/* Shop Css */
.home-section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories {
  min-height: 590vh;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  color: #d3b7a3;
  color: #000;
  text-align: center;
}
.categories-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.categories-top h1 {
  margin: 0;
  padding: 0.9rem 0;

  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
}
.headTitle {
  height: 2px;
  width: 3.2rem;
  background-color: black;
  border-radius: 20px;
}
.categories-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 520vh;
}
.categories-section {
  min-height: 470vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 80vw;
  position: relative;
}
.shrinker {
  width: 37rem;
  height: 47rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 1.5s;
  z-index: 1;
}
.locs-img,
.weaves-img,
.braids-img,
.twists-img {
  width: 37rem;
  height: 47rem;
  object-fit: cover;
  z-index: 2;
}
.shrink {
  width: 36rem;
  height: 46rem;
}

.locs,
.weaves,
.braids,
.twists {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 1.5s;
  position: relative;
}

.locs-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.locs-container,
.weaves-container,
.braids-container,
.twists-container {
  width: 40rem;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 1.5s;
  z-index: 1;
  position: absolute;
  top: 10%;
}

.locs-container,
.weaves-container,
.braids-container,
.twist-container {
  z-index: 0;
  overflow: unset;
}
.locs-type,
.weaves-type,
.braids-type,
.twists-type {
  display: flex;
  justify-content: center;
  position: absolute;
  text-transform: uppercase;
  z-index: 2;
  color: black;
  font-size: 6rem;
  top: 0;
  font-family: Athene, serif;
  overflow: hidden;
}

.locs-type h1,
.weaves-type h1,
.braids-type h1,
.twists-type h1 {
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locs-num,
.weaves-num,
.braids-num,
.twists-num {
  position: absolute;
  top: 0;
  font-size: 2.8rem;
  font-family: Athene, serif;
}
.locs-num,
.weaves-num {
  left: 0;
}
.braids-num,
.twists-num {
  right: 0;
}

.locs-go,
.weaves-go,
.twists-go,
.braids-go {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  min-height: 17vh;
  z-index: 3;
  overflow: hidden;
}
.locs-go,
.weaves-go {
  right: 0;
  bottom: 25%;
  text-align: right;
  align-items: flex-end;
}
.twists-go,
.braids-go {
  left: 0;
  bottom: 20%;
  text-align: left;
  align-items: flex-start;
}
.locs-write,
.weaves-write,
.twists-write,
.braids-write {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  width: 100%;
  line-height: 1.6rem;
  text-align: inherit;
  position: relative;
  pointer-events: none;
  color: black;
}
.locs-write h2,
.weaves-write h2,
.twists-write h2,
.braids-write h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.locs-write,
.weaves-write {
  text-align: right;
  align-items: flex-end;
}
.twists-write,
.braids-write {
  text-align: left;
  align-items: flex-start;
}

.locs-shop,
.weaves-shop,
.twists-shop,
.braids-shop {
  position: relative;
}
.locs-button,
.weaves-button,
.twists-button,
.braids-button {
  height: 3rem;
  font-size: 1rem;
  padding: 0 1rem;
  cursor: pointer;
  border: 2px solid black !important;
  background-color: unset;
  color: #d3b7a3;
  color: #dd7d78;
  color: black;
  transition: 0.4s;
  text-transform: uppercase;
  font-family: "Arima Madurai", cursive;
  position: relative;
  overflow: hidden;
}
.locs-button::after,
.weaves-button::after,
.twists-button::after,
.braids-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  right: 100%;
  transition: all 0.4s;
  z-index: -1;
  pointer-events: none;
}
.locs-button::after,
.weaves-button::after {
  left: 100%;
}
.twists-button::after,
.braids-button::after {
  right: 100%;
}
.locs-button:hover::after,
.weaves-button:hover::after {
  left: 0%;
}
.twists-button:hover::after,
.braids-button:hover::after {
  right: 0%;
}
.locs-button:hover,
.weaves-button:hover,
.twists-button:hover,
.braids-button:hover {
  color: white;
  transition: 1s;
}
/* Desktop 15 inches */
@media screen and (max-width: 1600px) {
  .categories {
    min-height: 550vh;
  }
  .welcome-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .welcome-text h3 {
    font-size: 6.5rem;
  }
  .categories-top h1 {
    font-size: 2.9rem;
    font-weight: 100;
  }
  .locs-num,
  .weaves-num,
  .braids-num,
  .twists-num {
    font-size: 2.2rem;
  }
  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 4.8rem;
  }
  .locs-container,
  .weaves-container,
  .braids-container,
  .twists-container {
    width: 30rem;
    height: 40rem;
  }
  .shrinker {
    width: 30rem;
    height: 40rem;
  }
  .shrink {
    width: 29rem;
    height: 39rem;
  }
  .locs-img,
  .weaves-img,
  .braids-img,
  .twists-img {
    width: 30rem;
    height: 40rem;
  }
  .locs-go,
  .weaves-go,
  .twists-go,
  .braids-go {
    min-height: 18vh;
    bottom: 20%;
  }
  .locs-write,
  .weaves-write,
  .twists-write,
  .braids-write {
    line-height: 1.3rem;
    font-size: 1rem;
  }
  .locs-write h2,
  .weaves-write h2,
  .twists-write h2,
  .braids-write h2 {
    font-size: 1.3rem;
  }
  .locs-button,
  .weaves-button,
  .twists-button,
  .braids-button {
    height: 3rem;
    font-size: 0.9rem;
    padding: 0 1rem;
  }
}
/* iPad  Pro*/
@media screen and (max-width: 1030px) {
  .welcome-text {
    padding: 2rem 0 0 0;
  }
  .welcome-text h3 {
    font-size: 4.7rem;
  }
  .mask-revealer {
    position: absolute;
    top: 0;
    background-color: white;
    height: 80vh;
    width: 80vw;
  }
  .categories {
    min-height: 450vh;
    padding: 20rem 0 0 0;
  }
  .categories-bottom {
    min-height: 425vh;
  }
  .categories-section {
    min-height: 400vh;
  }
  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    top: 5%;
  }
  .locs-container,
  .weaves-container,
  .braids-container,
  .twists-container {
    width: 35rem;
    height: 50rem;
    top: 12%;
  }
  .shrinker {
    width: 35rem;
    height: 50rem;
  }
  .locs-img,
  .weaves-img,
  .braids-img,
  .twists-img {
    width: 35rem;
    height: 50rem;
  }
  .locs-go,
  .weaves-go,
  .twists-go,
  .braids-go {
    min-height: 10vh;
    width: 35rem;
  }
  .locs-go,
  .weaves-go {
    right: 8rem;
    bottom: 16%;
  }
  .twists-go,
  .braids-go {
    left: 8rem;
    bottom: 16%;
  }
}
/* iPad */
@media screen and (max-width: 770px) {
  .welcome-text h3 {
    font-size: 3.5rem;
  }
  .categories {
    min-height: 450vh;
    padding: 15rem 0 0 0;
  }
  .categories-section {
    min-height: 470vh;
  }
  .categories-bottom {
    min-height: 500vh;
  }
  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 4rem;
  }
  .locs-container,
  .weaves-container,
  .braids-container,
  .twists-container {
    width: 30rem;
    height: 45rem;
    top: 12%;
  }
  .shrinker {
    width: 30rem;
    height: 45rem;
  }
  .locs-img,
  .weaves-img,
  .braids-img,
  .twists-img {
    width: 30rem;
    height: 45rem;
  }
  .locs-go,
  .weaves-go,
  .twists-go,
  .braids-go {
    min-height: 13vh;
    width: 35rem;
  }
  .locs-go,
  .weaves-go {
    right: 4rem;
    bottom: 0%;
  }
  .twists-go,
  .braids-go {
    left: 4rem;
    bottom: 0%;
  }
}
/* Surface Duo */
@media only screen and (max-width: 550px) {
  .categories {
    min-height: 540vh;
    padding: 0 0 0 0;
  }
  .welcome-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .welcome-text {
    position: absolute;
    top: 20%;
  }
  .welcome-text h3 {
    font-size: 4.5rem;
    text-align: center;
  }
  .categories-top h1 {
    font-size: 2rem;
    font-weight: 100;
  }
  .categories-bottom {
    min-height: 500vh;
  }
  .locs,
  .weaves,
  .braids,
  .twists {
    justify-content: flex-end;
    align-items: center;
  }
  .locs-num,
  .weaves-num,
  .braids-num,
  .twists-num {
    font-size: 1.2rem;
  }
  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 2.2rem;
    top: 6%;
  }
  .locs-container,
  .weaves-container,
  .braids-container,
  .twists-container {
    width: 20rem;
    height: 30rem;
    top: 12%;
  }
  .shrinker {
    width: 20rem;
    height: 30rem;
  }
  .shrink {
    width: 19rem;
    height: 29rem;
  }
  .locs-img,
  .weaves-img,
  .braids-img,
  .twists-img {
    width: 20rem;
    height: 30rem;
  }
  .locs-go,
  .weaves-go,
  .twists-go,
  .braids-go {
    min-height: 17vh;
    position: relative;
    bottom: 0%;
    width: 20rem;
    right: 0;
    left: 0;
  }
  .locs-write,
  .weaves-write,
  .twists-write,
  .braids-write {
    line-height: 1.3rem;
    font-size: 0.9rem;
  }
  .locs-write h2,
  .weaves-write h2,
  .twists-write h2,
  .braids-write h2 {
    font-size: 1.1rem;
  }
  .locs-button,
  .weaves-button,
  .twists-button,
  .braids-button {
    height: 2.5rem;
    font-size: 0.8rem;
    padding: 0 0.7rem;
  }
}
/* iPhone 6-8 plus */
@media only screen and (max-width: 415px) {
}
/* Pixel 2 XL */
@media only screen and (max-width: 412px) and (min-height: 822px) {
  .categories {
    min-height: 450vh;
    padding: 5rem 0 5rem 0;
  }
  .categories-section {
    min-height: 430vh;
  }
  .categories-bottom {
    min-height: 450vh;
  }
  .locs,
  .weaves,
  .braids,
  .twists {
    height: 87.5vh;
  }
  .locs-go,
  .weaves-go,
  .twists-go,
  .braids-go {
    min-height: 15vh;
    position: relative;
    bottom: 0%;
    width: 20rem;
    right: 0;
    left: 0;
  }
}
/* Pixel 2 */
@media only screen and (max-width: 412px) {
}
/* iPhone 6-8 */
@media only screen and (max-width: 380px) {
  .welcome-text {
    top: 12%;
  }
  .categories {
    min-height: 540vh;
    padding: 0 0 15vh 0;
  }
  .categories-bottom {
    min-height: 530vh;
  }
  .categories-section {
    min-height: 500vh;
  }
  .locs,
  .weaves,
  .braids,
  .twists {
    height: 105vh;
  }
  .locs-container,
  .weaves-container,
  .braids-container,
  .twists-container {
    width: 18rem;
    height: 30rem;
    top: 12%;
  }
  .shrinker {
    width: 18rem;
    height: 30rem;
  }
  .shrink {
    width: 14rem;
    height: 29rem;
  }
  .locs-img,
  .weaves-img,
  .braids-img,
  .twists-img {
    width: 18rem;
    height: 30rem;
  }
  .locs-go,
  .weaves-go,
  .twists-go,
  .braids-go {
    bottom: 0%;
    width: 18rem;
  }
  .locs-write,
  .weaves-write,
  .twists-write,
  .braids-write {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  .locs-write h2,
  .weaves-write h2,
  .twists-write h2,
  .braids-write h2 {
    font-size: 1rem;
  }
}
/* Galaxy s5 */
@media only screen and (max-width: 362px) {
  .locs,
  .weaves,
  .braids,
  .twists {
    height: 110vh;
  }
}
/* iPhone 5 */
@media only screen and (max-width: 322px) {
  .welcome-text h3 {
    font-size: 3.5rem;
  }
  .locs,
  .weaves,
  .braids,
  .twists {
    height: 105vh;
  }
  .locs-container,
  .weaves-container,
  .braids-container,
  .twists-container {
    width: 16rem;
    height: 25rem;
    top: 12%;
  }
  .shrinker {
    width: 16rem;
    height: 25rem;
  }
  .shrink {
    width: 14rem;
    height: 23rem;
  }
  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 1.9rem;
    top: 6%;
  }
  .locs-img,
  .weaves-img,
  .braids-img,
  .twists-img {
    width: 16rem;
    height: 25rem;
  }

  .locs-go,
  .weaves-go,
  .twists-go,
  .braids-go {
    bottom: 0%;
    width: 16rem;
  }
  .locs-write,
  .weaves-write,
  .twists-write,
  .braids-write {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
  .locs-write h2,
  .weaves-write h2,
  .twists-write h2,
  .braids-write h2 {
    font-size: 0.9rem;
  }
  .locs-button,
  .weaves-button,
  .twists-button,
  .braids-button {
    height: 2.25rem;
    font-size: 0.7rem;
    padding: 0 0.7rem;
  }
}

/* Galaxy Fold */
@media only screen and (max-width: 282px) {
  .locs,
  .weaves,
  .braids,
  .twists {
    height: 93vh;
  }
  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 1.6rem;
    top: 6%;
  }
}
