/* Home Css */
.mask {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: absolute;
  z-index: 3;
}

.home-section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  max-width: 100rem;
  max-height: 65rem;
}
.welcome {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  font-family: Athene, serif;
}
.welcome-section {
  display: flex;
  /* min-height: 80vh; */
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.welcome-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.welcome-image {
  height: 50rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}
.mask-revealer {
  position: absolute;
  top: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.welcome-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.welcome-text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.welcome-text h3 {
  font-size: 7.6rem;
  font-weight: 100;
  color: rgb(248, 248, 248);
  mix-blend-mode: difference;
  z-index: 3;
}

/* Shop Css */
.home-section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  max-width: 100rem;
}
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  padding: 10rem 0;
}
.categories-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin: 5rem 0;
}
.categories-top h1 {
  margin: 0;
  padding: 0.9rem 0;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 100;
}
.headTitle {
  height: 2px;
  width: 3.2rem;
  background-color: black;
  border-radius: 20px;
}
.categories-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.categories-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.locs,
.weaves,
.braids,
.twists {
  width: 100%;
  text-align: center;
  transition: all 1.5s;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  align-items: start;
  height: 100%;
  margin: 10rem 0;
}

.locs-container,
.weaves-container,
.braids-container,
.twists-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 1.5s;
  z-index: 1;
  position: relative;
  padding: 8rem 0 0 0;
  overflow: unset;
}

.locs-type,
.weaves-type,
.braids-type,
.twists-type {
  display: flex;
  justify-content: center;
  position: absolute;
  text-transform: uppercase;
  z-index: 2;
  color: black;
  font-size: 6rem;
  top: 0;
  font-family: Athene, serif;
  overflow: hidden;
}

.locs-type h1,
.weaves-type h1,
.braids-type h1,
.twists-type h1 {
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locs-num,
.weaves-num,
.braids-num,
.twists-num {
  position: absolute;
  top: 0;
  font-size: 2.8rem;
  font-family: Athene, serif;
  position: relative;
}
.locs-num,
.weaves-num {
  left: 0;
}
.braids-num,
.twists-num {
  right: 0;
  justify-self: end;
  align-self: start;
}

.locs-go,
.weaves-go,
.twists-go,
.braids-go {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 2;
  overflow: hidden;
  position: relative;
  margin-bottom: 10rem;
}

.locs-go,
.weaves-go {
  text-align: right;
  justify-self: end;
  align-self: end;
}
.twists-go,
.braids-go {
  text-align: left;
  justify-self: start;
  align-self: end;
}
.locs-write,
.weaves-write,
.twists-write,
.braids-write {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  width: 100%;
  line-height: 1.6rem;
  text-align: inherit;
  position: relative;
  pointer-events: none;
  color: black;
}
.locs-write h2,
.weaves-write h2,
.twists-write h2,
.braids-write h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.locs-write p,
.weaves-write p,
.twists-write p,
.braids-write p {
  padding: 1.5rem 0 0 0;
}

.locs-write,
.weaves-write {
  text-align: right;
  align-items: flex-end;
}
.twists-write,
.braids-write {
  text-align: left;
  align-items: flex-start;
}

.locs-shop,
.weaves-shop,
.twists-shop,
.braids-shop {
  position: relative;
  padding: 1.7rem 0 0 0;
}
.shrinker-locs,
.shrinker-weaves,
.shrinker-twists,
.shrinker-braids {
  width: 37rem;
  height: 47rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.shrinker {
  width: 37rem;
  height: 47rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 1.5s;
  z-index: 1;
  position: relative;
}
.shrink {
  width: 94%;
  height: 94%;
}
.parallax-inner,
.parallax-outer {
  position: absolute;
  width: 37rem;
  height: 50rem;
}

.locs-img,
.weaves-img,
.braids-img,
.twists-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.locs-button,
.weaves-button,
.twists-button,
.braids-button {
  height: 3rem;
  font-size: 1rem;
  padding: 0 1rem;
  cursor: pointer;
  border: 2px solid black !important;
  background-color: unset;
  color: #d3b7a3;
  color: #dd7d78;
  color: black;
  transition: 0.4s;
  text-transform: uppercase;
  font-family: "Arima Madurai", cursive;
  position: relative;
  overflow: hidden;
}
.locs-button::after,
.weaves-button::after,
.twists-button::after,
.braids-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  right: 100%;
  transition: all 0.4s;
  z-index: -1;
  pointer-events: none;
}
.locs-button::after,
.weaves-button::after {
  left: 100%;
}
.twists-button::after,
.braids-button::after {
  right: 100%;
}
.locs-button:hover::after,
.weaves-button:hover::after {
  left: 0%;
}
.twists-button:hover::after,
.braids-button:hover::after {
  right: 0%;
}
.locs-button:hover,
.weaves-button:hover,
.twists-button:hover,
.braids-button:hover {
  color: white;
  transition: 1s;
}
/* test */

/* Desktop 15 inches */
@media only screen and (max-width: 1650px) {
  .welcome-image {
    height: 40rem;
  }
  .welcome-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .welcome-text h3 {
    font-size: 6.5rem;
  }
  .categories-top h1 {
    font-size: 2rem;
    font-weight: 100;
  }
  .headTitle {
    width: 2.7rem;
  }
  .categories-top {
    margin: 5rem 0 2.5rem 0;
  }
  .locs,
  .weaves,
  .braids,
  .twists {
    margin: 10rem 0;
  }
  .locs-num,
  .weaves-num,
  .braids-num,
  .twists-num {
    font-size: 2.2rem;
  }
  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 4.8rem;
  }

  .locs-write,
  .weaves-write,
  .twists-write,
  .braids-write {
    line-height: 1.3rem;
    font-size: 1rem;
  }
  .locs-write h2,
  .weaves-write h2,
  .twists-write h2,
  .braids-write h2 {
    font-size: 1.3rem;
  }
  .locs-button,
  .weaves-button,
  .twists-button,
  .braids-button {
    height: 3rem;
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  .shrinker-locs,
  .shrinker-weaves,
  .shrinker-twists,
  .shrinker-braids {
    width: 30rem;
    height: 40rem;
  }
  .shrinker {
    width: 30rem;
    height: 40rem;
  }
  .shrink {
    width: 94%;
    height: 94%;
  }
  .parallax-inner,
  .parallax-outer {
    width: 30rem;
    height: 43rem;
  }
  .locs-write p,
  .weaves-write p,
  .twists-write p,
  .braids-write p {
    padding: 1.5rem 0 0 0;
  }
  .locs-shop,
  .weaves-shop,
  .twists-shop,
  .braids-shop {
    position: relative;
    padding: 1.7rem 0 0 0;
  }
  .locs-container,
  .weaves-container,
  .braids-container,
  .twists-container {
    padding: 5rem 0 0 0;
  }
}

@media only screen and (max-width: 1450px) {
  .locs,
  .weaves {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "num container ."
      ". go .";
  }
  .braids,
  .twists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      ". container num"
      ". go .";
  }
  .locs-num,
  .weaves-num,
  .braids-num,
  .twists-num {
    grid-area: num;
  }
  .locs-container,
  .weaves-container,
  .braids-container,
  .twists-container {
    grid-area: container;
  }
  .locs-go,
  .weaves-go,
  .twists-go,
  .braids-go {
    grid-area: go;
    margin: 5rem 0 0 0;
  }
}
/* iPad  Pro*/
@media only screen and (max-width: 1030px) {
  .welcome-text {
    padding: 2rem 0 0 0;
  }
  .welcome-text h3 {
    font-size: 4.7rem;
  }
  .mask-revealer {
    position: absolute;
    top: 0;
    background-color: white;
    height: 80vh;
    width: 80vw;
  }
  .headTitle {
    width: 2.7rem;
  }
  .categories-top {
    margin: 2.5rem 0;
  }
  .locs,
  .weaves,
  .braids,
  .twists {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "num"
      "container"
      "go";
    margin: 10rem 0;
    min-height: 60vh;
    height: 63rem;
  }

  .locs-container,
  .weaves-container,
  .braids-container,
  .twists-container {
    justify-self: center;
    align-self: center;
  }
  .shrinker-locs,
  .shrinker-weaves,
  .shrinker-twists,
  .shrinker-braids {
    width: 30rem;
    height: 40rem;
  }
  .shrinker {
    width: 100%;
    height: 100%;
  }
  .shrink {
    width: 94%;
    height: 94%;
  }
  .parallax-inner,
  .parallax-outer {
    width: 35rem;
    height: 46rem;
  }
  .locs-go,
  .weaves-go,
  .twists-go,
  .braids-go {
    width: 30rem;
    justify-self: center;
    align-self: end;
  }
  .locs-go,
  .weaves-go {
    text-align: right;
  }
  .twists-go,
  .braids-go {
    text-align: left;
  }
}
/* iPad */
@media only screen and (max-width: 800px) {
  .home-section-1 {
    width: 80vw;
    max-width: 100rem;
  }
  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 3.2rem;
  }

  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 770px) {
}
@media only screen and (max-width: 700px) {
  .locs-img-container,
  .weaves-img-container,
  .braids-img-container,
  .twists-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: unset;
    position: relative;
  }
  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 3.5rem;
    top: 2%;
  }
  .locs-go,
  .weaves-go,
  .twists-go,
  .braids-go {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .locs-container,
  .weaves-container,
  .braids-container,
  .twists-container,
  .locs-img-container,
  .weaves-img-container,
  .braids-img-container,
  .twists-img-container,
  .parallax-inner,
  .parallax-outer {
    width: 100%;
  }
  .shrinker-locs,
  .shrinker-weaves,
  .shrinker-twists,
  .shrinker-braids {
    width: 100%;
  }
}
/* Surface Duo */
@media only screen and (max-width: 550px) {
  .welcome {
    padding-top: 0.5rem;
  }
  .welcome-image {
    height: unset;
  }
  .welcome-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .welcome-text h3 {
    font-size: 4.5rem;
  }
  .headTitle {
    width: 2.7rem;
  }
  .categories-top {
    margin: 0 0;
  }
  .locs,
  .weaves,
  .braids,
  .twists {
    margin: 6rem 0;
    height: 55rem;
  }
  .shrinker-locs,
  .shrinker-weaves,
  .shrinker-twists,
  .shrinker-braids {
    height: 35rem;
  }
  .locs-num,
  .weaves-num,
  .braids-num,
  .twists-num {
    font-size: 1.2rem;
  }
  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 2.5rem;
    top: 4.6%;
  }

  .locs-go,
  .weaves-go,
  .twists-go,
  .braids-go {
    width: 100%;
  }
  .locs-write,
  .weaves-write,
  .twists-write,
  .braids-write {
    line-height: 1.3rem;
    font-size: 0.9rem;
  }
  .locs-write h2,
  .weaves-write h2,
  .twists-write h2,
  .braids-write h2 {
    font-size: 1.1rem;
  }
  .locs-button,
  .weaves-button,
  .twists-button,
  .braids-button {
    height: 2.5rem;
    font-size: 0.8rem;
    padding: 0 0.7rem;
  }
}
/* iPhone 6-8 plus */
@media only screen and (max-width: 415px) {
  .locs,
  .weaves,
  .braids,
  .twists {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "num"
      "container"
      "go";

    min-height: 60vh;
    height: 55rem;
  }
  .locs-write,
  .weaves-write,
  .twists-write,
  .braids-write {
    line-height: 1.3rem;
    font-size: 0.75rem;
  }
  .locs-go,
  .weaves-go,
  .twists-go,
  .braids-go {
    position: relative;
  }
  .shrinker-locs,
  .shrinker-weaves,
  .shrinker-twists,
  .shrinker-braids {
    height: 35rem;
  }
  .parallax-inner,
  .parallax-outer {
    height: 40rem;
  }
}
/* Pixel 2 XL */
@media only screen and (max-width: 412px) and (min-height: 822px) {
}
/* Pixel 2 */
@media only screen and (max-width: 412px) {
}
@media only screen and (max-width: 400px) {
  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 2rem;
    top: 4.6%;
  }
}
/* iPhone 6-8 */
@media only screen and (max-width: 380px) {
  .locs,
  .weaves,
  .braids,
  .twists {
    height: 50rem;
  }
  .shrinker-locs,
  .shrinker-weaves,
  .shrinker-twists,
  .shrinker-braids {
    height: 30rem;
    align-self: start;
  }

  .locs-write,
  .weaves-write,
  .twists-write,
  .braids-write {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  .locs-write h2,
  .weaves-write h2,
  .twists-write h2,
  .braids-write h2 {
    font-size: 1rem;
  }
  .parallax-inner,
  .parallax-outer {
    height: 46rem;
  }
}
/* Galaxy s5 */
@media only screen and (max-width: 362px) {
}
/* iPhone 5 */
@media only screen and (max-width: 322px) {
  .welcome-text h3 {
    font-size: 3.5rem;
  }

  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 1.9rem;
    top: 6%;
  }

  .locs-write,
  .weaves-write,
  .twists-write,
  .braids-write {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
  .locs-write h2,
  .weaves-write h2,
  .twists-write h2,
  .braids-write h2 {
    font-size: 0.9rem;
  }
  .locs-button,
  .weaves-button,
  .twists-button,
  .braids-button {
    height: 2.25rem;
    font-size: 0.7rem;
    padding: 0 0.7rem;
  }
}
/* Galaxy Fold */
@media only screen and (max-width: 282px) {
  .locs-type,
  .weaves-type,
  .braids-type,
  .twists-type {
    font-size: 1.6rem;
  }
}
