/* Type Css */

.More {
  pointer-events: unset;
  display: block;
}
.noMore {
  pointer-events: none;
  display: none;
}
.type-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 10rem;
}
.type-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.type-section-head {
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 100rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.type-section-head-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
.type-collection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  font-family: "Arima Madurai", cursive;
  font-family: Athene, serif;
}
.filter-change {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 10%;
}

.type-section-body {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3rem;
  width: 70vw;
  max-width: 100rem;
  min-height: 50vh;
}
.type-section-body a {
  color: black;
  text-decoration: none;
}
.load-more {
  align-self: center;
}
.load-more-button::after {
  top: 100%;
  left: 0;
}
.load-more-button:hover {
  color: white;
  transition: 1s;
}
.load-more-button:hover::after {
  top: 0%;
}
/* Desktop 15 inches */
@media only screen and (max-width: 1600px) {
  .type-collection {
    font-size: 3.2rem;
  }
  .type-product-name {
    font-size: 1rem;
  }
  .type-product-price {
    font-size: 1rem;
  }
  .load-more button {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 1150px) {
  .type-section-body {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 2rem;
  }
}
/* iPad  Pro*/
@media only screen and (max-width: 1030px) {
  .type-container {
    padding-bottom: 10vh;
  }
  .type-section-head {
    padding: 1rem 0;
  }
  .type-collection {
    font-size: 2rem;
  }
  .type-section-head {
    width: 80vw;
    padding-bottom: 0.5rem;
  }
  .type-section-head-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 80vw;
    position: relative;
  }
  .type-section-body {
    width: 80vw;
  }

  .load-more button {
    font-size: 0.9rem;
    padding: 1rem;
  }
}
@media only screen and (max-width: 900px) {
  .type-section-body {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2rem;
  }
}
/* iPad */
@media only screen and (max-width: 770px) {
}
/* Surface Duo */
@media only screen and (max-width: 550px) {
  .type-section-body {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .type-collection {
    font-size: 2rem;
  }
  .filter-change {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .filter-change-head {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .filter-change-button {
    height: 2.125rem;
    font-size: 0.8rem;
    min-width: 7rem;
    padding: 0px 0.5rem;
  }
  .filter-change-button span {
    right: 0.5rem;
  }
  .filter-change-body {
    font-size: 0.8rem;
    margin-top: 2vh;
    top: 10%;
  }
  .filter-appear {
    opacity: 1;
  }
  .filter-change-body li {
    min-height: 3rem;
    min-width: 6.75rem;
  }
  .type-section-head {
    width: 80vw;
    padding-bottom: 0.5rem;
  }
  .type-section-head-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 80vw;
    position: relative;
  }

  .load-more button {
    font-size: 0.7rem;
    padding: 0.7rem;
  }
}
/* iPhone 6-8 plus */
@media only screen and (max-width: 415px) {
}
/* Pixel 2 XL */
@media only screen and (max-width: 412px) and (min-height: 822px) {
}
/* Pixel 2 */
@media only screen and (max-width: 412px) {
}
/* iPhone 6-8 */
@media only screen and (max-width: 380px) {
  .type-collection {
    font-size: 1.5rem;
  }
}
/* iPhone 5 */
@media only screen and (max-width: 322px) {
  .type-product-name {
    font-size: 0.75rem;
  }
}
/* Galaxy Fold */
@media only screen and (max-width: 282px) {
  .type-product-name {
    font-size: 0.65rem;
  }
}
@media only screen and (max-width: 282px) and (orientation: landscape) {
}
