/* footer css */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80vw;
  position: relative;
  min-height: 50vh;
  font-weight: 200;
  color: rgb(0, 0, 0);
  padding-bottom: 1rem;
  border-top: 2px solid #000;
}
.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 55vh;
}
.contact-head {
  min-height: 15vh;
  width: 60vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2.5rem;
  font-family: Athene, serif;
}
.contact-head h1 {
  font-weight: 100;
}
.contact-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 60vw;
  min-height: 25vh;
}
.contact-body h2 {
  font-size: 1rem;
}
.contact-body h3 {
  font-size: 1.4rem;
  font-weight: 100;
}
.contact-num {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-num-head {
  display: flex;
  text-transform: uppercase;
  min-height: 7vh;
}
.contact-num-body {
  display: flex;
}
.contact-add {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-add-head {
  display: flex;
  text-transform: uppercase;
  min-height: 7vh;
}
.contact-add-body {
  display: flex;
  max-width: 30vw;
  text-align: justify;
  text-transform: uppercase;
}
.contact-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 80vw;
}
.socials {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.socials li {
  font-size: 1.2rem;
  list-style: none;
  cursor: pointer;
  width: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.socials li:hover {
  background-color: rgb(250, 250, 250);
  color: black;
}
.rights {
  align-self: flex-end;
  position: relative;
  right: 0;
  bottom: 0;
  font-size: 1rem;
}
/* Desktop 15 inches */
@media screen and (max-width: 1600px) {
  .bottom-container {
    min-height: 50vh;
  }
  .contact-head {
    min-height: 13vh;
    font-size: 2rem;
  }
  .contact-head h1 {
    font-weight: 100;
  }
  .contact-body {
    width: 60vw;
    min-height: 20vh;
  }
  .contact-body h2 {
    font-size: 0.9rem;
  }
  .contact-body h3 {
    font-size: 1.2rem;
    font-weight: 100;
  }
  .contact-num {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .contact-num-head {
    display: flex;
    text-transform: uppercase;
    min-height: 7vh;
  }
  .contact-num-body {
    display: flex;
  }
  .contact-add {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .contact-add-head {
    display: flex;
    text-transform: uppercase;
    min-height: 7vh;
  }
  .contact-add-body {
    display: flex;
    max-width: 30vw;
    text-align: justify;
    text-transform: uppercase;
  }
  .socials {
    display: flex;
    flex-direction: row;
  }
  .socials li {
    font-size: 1rem;
    list-style: none;
    cursor: pointer;
    width: 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .socials li:hover {
    background-color: rgb(250, 250, 250);
    color: black;
  }
  .rights {
    align-self: flex-end;
    position: relative;
    right: 0;
    bottom: 0;
    font-size: 0.9rem;
  }
}
/* iPad  Pro*/
@media screen and (max-width: 1030px) {
  .bottom,
  .bottom-container {
    min-height: 35vh;
  }
  .contact-head {
    min-height: 10vh;
    font-size: 2rem;
  }
  .contact-body {
    min-height: 12vh;
  }
  .contact-num-head,
  .contact-add-head {
    min-height: 4vh;
  }
}
/* iPad */
@media screen and (max-width: 770px) {
  .contact-head {
    min-height: 10vh;
    font-size: 1.7rem;
  }
}
/* Surface Duo */
@media only screen and (max-width: 550px) {
  .bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 55vh;
  }
  .contact-head {
    min-height: 0vh;
    width: 80vw;
    font-size: 1.25rem;
  }
  .contact-body {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 5rem;
  }
  .contact-body h2 {
    font-size: 0.7rem;
  }
  .contact-body h3 {
    font-size: 1.1rem;
  }
  .contact-num {
    line-height: 2.5rem;
  }
  .contact-num-head {
    display: flex;
    text-transform: uppercase;
    min-height: 0vh;
  }
  .contact-add {
    line-height: 2.5rem;
  }
  .contact-add-head {
    min-height: 0vh;
  }
  .contact-add-body {
    display: flex;
    max-width: 50ch;
    text-align: left;
  }
  .socials li {
    font-size: 0.9rem;
    width: 10rem;
  }
  .rights {
    align-self: center;
    font-size: 0.8rem;
  }
}
/* Pixel 2 XL */
@media only screen and (max-width: 412px) and (min-height: 822px) {
  .bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 45vh;
  }
  .contact-head {
    font-size: 1.1rem;
  }
}
/* Pixel 2 */
@media only screen and (max-width: 412px) {
  .contact-head {
    font-size: 1.1rem;
  }
}
/* iPhone 6-8 */
@media only screen and (max-width: 380px) {
  .contact-head {
    font-size: 1.05rem;
  }
  .rights {
    padding: 2vh 0 0 0;
  }
}
/* iPhone 5 */
@media only screen and (max-width: 322px) {
  .bottom-container {
    min-height: 60vh;
  }
  .contact-head {
    font-size: 0.9rem;
  }
  .contact-body h2 {
    font-size: 0.6rem;
  }
  .contact-body h3 {
    font-size: 1rem;
  }
  .socials li {
    font-size: 0.8rem;
  }
}
/* Galaxy Fold */
@media only screen and (max-width: 282px) {
  .contact-head {
      font-size: 0.8rem;
  }
}

