/* Button*/
.add-button {
  font-size: 1.4rem;
  cursor: pointer;
  border: 2px solid black !important;
  background-color: unset;
  color: black;
  padding: 0.7rem 0;
  padding-left: 1.3rem;
  transition: 0.4s;
}
.add-button:hover {
  padding-right: 1.7rem;
  transition: 0.4s;
}
.add-button span {
  display: inline;
  position: relative;
  right: -5px;
  opacity: 0;
  transition: 0.4s;
}
.add-button:hover span {
  position: relative;
  right: 0px;
  opacity: 1;
  transition: 0.4s;
}

@media screen and (max-width: 1600px) {
  .add-button {
    font-size: 1.1rem;
    padding: 0.7rem 0;
    padding-left: 1rem;
    transition: 0.4s;
  }
  .add-button:hover {
    padding-right: 1.2rem;
    transition: 0.4s;
  }
  .add-button span {
    display: inline;
    position: relative;
    right: -5px;
    opacity: 0;
    transition: 0.4s;
  }
  .add-button:hover span {
    position: relative;
    right: 0px;
    opacity: 1;
    transition: 0.4s;
  }
}
