/* Product Details */

.product-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10rem;
}
.product-body {
  height: 100%;
}
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 0rem;
}
.product-container-top {
  min-width: 65vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  padding: 0 0 15rem 0;
}
.product-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-left: 2rem;
}
.product-name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 200;
  font-size: 2rem;
  text-transform: uppercase;
}

.product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-style: italic;
}

.product-add {
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product-detail {
  line-height: 1.7rem;
  font-size: 1.2rem;
  text-align: left;
  max-width: 35ch;
}

.product-name,
.product-price,
.product-add,
.product-detail {
  padding: 0.7rem 0;
}

.product-container-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 65vw;
}
.related-products-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-size: 2em;
  font-weight: 400;
  font-family: Athene, serif;
  text-transform: uppercase;
}
.related-products-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
.related-product-item:not(:first-child) {
  margin-left: 2rem;
}
/* Desktop 15 inches */
@media screen and (max-width: 1600px) {
  .product-container {
    padding: 3.5rem 0rem;
  }
  .product-container-top {
  }

  .product-name {
    font-size: 1.5rem;
  }
  .product-price {
    font-size: 1rem;
  }
  .product-add {
    font-size: 0.9rem;
  }
  .product-detail {
    font-size: 1rem;
  }

  .related-products-head {
    font-size: 2em;
  }

  .related-product-img {
  }
  .related-product-name {
    font-size: 1rem;
  }
  .related-product-price {
    font-size: 1rem;
  }
}
/* iPad  Pro*/
@media screen and (max-width: 1030px) {
  .product-main {
    padding-bottom: 5rem;
  }
  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
  }
  .product-container-top {
    grid-template-columns: 1fr;
    width: 80vw;
    padding: 0 0 7rem 0;
  }
  .product-container-right {
    align-items: flex-start;
    padding: 2rem 0 0 0;
  }
  .product-detail {
    max-width: 70ch;
  }
  .product-name,
  .product-price,
  .product-add,
  .product-detail {
    padding: 0.85rem 0;
  }

  .product-container-bottom {
    width: 80vw;
  }
}
/* iPad */
@media screen and (max-width: 770px) {
}
/* Surface Duo */
@media only screen and (max-width: 550px) {
  .product-container {
    padding: 1.5rem 0rem;
  }
  .product-name {
    font-size: 1.3rem;
  }
  .product-price {
    font-size: 1rem;
  }
  .product-detail {
    font-size: 0.9rem;
  }
  .product-name,
  .product-price,
  .product-add,
  .product-detail {
    padding: 0.5rem 0;
  }
  .product-container-bottom {
    width: 100vw;
    padding: 0 0 0 10vw;
  }
  .related-products-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    padding: 2.5vh 0 0 0;
  }
  .related-products {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem 0 0;
  }
  .related-products-head {
    height: 100%;
    width: 70vw;
    font-size: 1.5em;
  }
  .related-product-img {
    width: 25vw;
    height: 19vh;
    margin: 1rem 0px;
  }
  .related-product-name {
    font-size: 0.8rem;
  }
  .related-product-price {
    font-size: 0.7rem;
  }
}
/* Pixel 2 */
@media only screen and (max-width: 412px) {
  .product-container-right {
    /* min-height: 40vh; */
  }
  .related-product-img {
    width: 30vw;
    height: 16vh;
  }
  .remove-product {
    padding: 0 0 0 0em;
  }
}
/* iPhone 6-8 */
@media only screen and (max-width: 380px) {
  .product-name {
    font-size: 1.2rem;
  }
  .product-price {
    font-size: 0.9rem;
  }
  .product-add {
    font-size: 0.9rem;
  }
  .product-detail {
    font-size: 0.9rem;
  }
  .product-container-bottom {
    padding: 0 0 0 10vw;
  }
}
/* iPhone 5 */
@media only screen and (max-width: 322px) {
  .product-name {
    font-size: 1.1rem;
  }
  .product-price {
    font-size: 0.9rem;
  }
  .product-add {
    font-size: 0.9rem;
  }
  .product-detail {
    font-size: 0.85rem;
  }
}
/* Galaxy Fold */
@media only screen and (max-width: 282px) {
  .related-products-head {
    font-size: 1.1rem;
  }
}
