/* Product Details */

.carousel {
  min-height: 60vh;
  min-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 2rem 0 0;
}

.carousel-content {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  overflow: hidden;
  width: 30vw;
  height: 60vh;
  position: relative;
}
.carousel-content-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-content-images > img {
  width: 30vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: cover;
  object-fit: cover;
  transition: 1s ease-in-out;
}
.next-image-left,
.next-image-right {
  position: absolute;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  display: flex;
  z-index: 1;
  opacity: 0.5;
}
.next-image-left {
  left: 0;
  padding-left: 0.5rem;
}
.next-image-right {
  right: 0;
  padding-right: 0.5rem;
}
/* Desktop 15 inches */
@media screen and (max-width: 1600px) {
}
/* iPad  Pro*/
@media screen and (max-width: 1030px) {
  .carousel {
    padding: 0 0 0 0;
  }
  .carousel-content {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 80vw;
    height: 60vh;
  }
  .carousel-content-images {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel-content-images > img {
    width: 85vw;
    height: 60vh;
  }
}
/* Surface Duo */
@media only screen and (max-width: 550px) {
  .carousel {
    padding: 0 0 0 0;
  }
  .carousel-content {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 80vw;
    height: 60vh;
  }
  .carousel-content-images {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel-content-images > img {
    width: 85vw;
    height: 60vh;
  }
  .next-image-left,
  .next-image-right {
    position: absolute;
    font-size: 3rem;
    color: rgb(51, 51, 51);
    display: flex;
    width: 50%;
    height: 100%;
  }
  .next-image-left {
    left: 0;
    padding-left: 0.5rem;
  }
  .next-image-right {
    right: 0;
    padding-right: 0.5rem;
  }
  .fa-chevron-right,
  .fa-chevron-left {
    display: none;
  }
}

/* Landscape View */

@media only screen and (max-width: 1369px) and (orientation: landscape) {
  .carousel {
    padding: 0 0 0 0;
  }
  .carousel-content {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 80vw;
    height: 60vh;
  }
  .carousel-content-images {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-content {
    height: 80vh;
  }
  .carousel-content-images > img {
    width: 85vw;
    height: 120vh;
  }
}
@media only screen and (max-width: 1025px) and (orientation: landscape) {
}
/* Pixel 2 XL - Iphone X */
@media only screen and (orientation: landscape) and (max-width: 824px) {
  .carousel-content {
    height: 120vh;
  }
  .carousel-content-images > img {
    width: 85vw;
    height: 120vh;
  }
}
@media only screen and (orientation: landscape) and (max-width: 824px) {
}
/* iPhone 6-8 plus - Pixel 2 */
@media only screen and (max-width: 740px) and (orientation: landscape) {
}
/* Surface Duo */
@media only screen and (max-width: 721px) and (max-height: 545px) and (orientation: landscape) {
  .carousel-content {
    height: 100vh;
  }
  .carousel-content-images > img {
    width: 85vw;
    height: 100vh;
  }
}
/* iPhone 6-8 - Galaxy Fold - Galaxy s5 */
@media only screen and (max-width: 668px) and (orientation: landscape) {
}
@media only screen and (max-width: 657px) and (orientation: landscape) {
}
/* iPhone 5 */
@media only screen and (max-width: 569px) and (orientation: landscape) {
}
