/* Navbar */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
/* .nav1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 150px;
  color: white;
} */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 80vw;

  /* box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2); */
  color: black;
  font-size: 1.6rem;
  /* font-family: 'Arima Madurai', cursive;
  font-family: Athene,serif; */
}
.nav a {
  color: rgb(0, 0, 0);
  /* color:  #d3b7a3; */
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  position: relative;
  width: 100%;
  z-index: 2;
}
.nav-links li,
.nav-links a {
  text-decoration: none;

  list-style: none;
}
.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  position: relative;
  cursor: pointer;
}
.alert {
  position: absolute;
  /* top: 130%; */
  bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: all 1s;
  pointer-events: none;
}
.alert-show {
  opacity: 1;
  transition: all 1s;
}
.alert-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.alert-head {
  top: -10px;
  position: absolute;
  border: 2px solid black;
  background-color: black;
  height: 0.9rem;
  width: 0.9rem;
  transform: rotateZ(45deg);
}
.alert-head-trans {
  top: -7px;
  position: absolute;
  border: 2px solid #edeae4;
  background-color: #edeae4;
  height: 0.9rem;
  width: 0.9rem;
  transform: rotateZ(45deg);
  z-index: 1;
}
.alert-body {
  top: -3px;
  position: absolute;
  border: 2px solid black;
  min-height: 10vh;
  font-size: 1.4rem;
  min-width: 15vw;
  max-width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 0rem 0.5rem;
  background-color: #edeae4;
  color: black;
}

/* Styling for second triangle (border) */

.alert-body h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.badge1 {
  position: relative;
}
.badge1[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 0.6em;
  color: black;
  /* background-color: black; */
  width: 18px;
  height: 18px;
  border-radius: 50%;
  /* box-shadow:0 0 1px #333; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchP {
  display: none;
}
.logo {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.Click {
  pointer-events: unset;
}
.noClick {
  pointer-events: none;
}

@media screen and (max-width: 1600px) {
  .nav {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 550px) {
  .nav {
    font-size: 1.2rem;
  }
}
