/* Navbar */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 80vw;
  color: black;
  font-size: 1.6rem;
}
.nav a {
  color: rgb(0, 0, 0);
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  width: 80vw;
  z-index: 4;
  z-index: 7;
  opacity: 1;
}
.nav-links li,
.nav-links a {
  text-decoration: none;
  list-style: none;
}
.nav-right {
  display: flex;
  flex-direction: row;
}
.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  position: relative;
  cursor: pointer;
}
.badge1 {
  position: relative;
}
.badge1[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 0.6em;
  color: black;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchP {
  display: none;
}
.logo {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.Click {
  pointer-events: unset;
}
.noClick {
  pointer-events: none;
}
/* Desktop 15 inches */
@media screen and (max-width: 1600px) {
  .nav {
    font-size: 1.4rem;
  }
}
/* iPad  Pro*/
@media screen and (max-width: 1030px) {
  .nav {
    font-size: 1.9rem;
  }
}
/* iPad */
@media screen and (max-width: 770px) {
  .nav-right {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  .nav-toggle div {
    position: absolute;
    width: 2.5rem;
    height: 0.25rem;
    background-color: black;
    border-radius: 2px;
    transition: 1s ease 1s;
    position: absolute;
  }
  .nav-bottom {
    transform: translateY(0.5rem);
  }
  .nav-top {
    transform: translateY(-0.5rem);
  }
  .close-nav .nav-top {
    transform: rotate(45deg);
  }
  .close-nav .nav-bottom {
    transform: rotate(-45deg);
  }
}

/* Surface Duo */
@media only screen and (max-width: 550px) {
  .nav {
    font-size: 1.2rem;
  }
  .nav-toggle div {
    width: 1.5rem;
    height: 0.2rem;
  }
  .nav-bottom {
    transform: translateY(0.25rem);
  }
  .nav-top {
    transform: translateY(-0.25rem);
  }
}
/* iPhone 6-8 */
@media only screen and (max-width: 380px) {
  .nav {
    font-size: 1.1rem;
  }
  .nav-toggle div {
    width: 1.5rem;
    height: 0.2rem;
  }
}
/* Galaxy s5 */
@media only screen and (max-width: 362px) {
  .nav-toggle div {
    width: 1.5rem;
    height: 0.2rem;
  }
}
/* iPhone 5 */
@media only screen and (max-width: 322px) {
  .nav {
    font-size: 1rem;
  }
  .nav-right {
    width: 18%;
  }
  .nav-toggle div {
    width: 1.1rem;
    height: 0.15rem;
  }
}
/* Galaxy Fold */
@media only screen and (max-width: 282px) {
  .nav {
    font-size: 0.9rem;
  }
}
