/* Navbar */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;

  width: 80vw;
  max-width: 100rem;
  color: black;
  font-size: 1.6rem;
  z-index: 9;
}
.nav a {
  color: rgb(0, 0, 0);
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  width: 100%;
  z-index: 9;
  opacity: 1;
}
.nav-links li,
.nav-links a {
  text-decoration: none;
  list-style: none;
}
.nav-right {
  display: flex;
  flex-direction: row;
  z-index: 9;
}
.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  position: relative;
  cursor: pointer;
}
.badge1 {
  position: relative;
}
.badge1[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 0.6em;
  color: black;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.Click {
  pointer-events: unset;
}
.noClick {
  pointer-events: none;
}
.nav-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.nav-toggle div {
  position: absolute;
  width: 1.5rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 2px;
  transition: 1s ease 1s;
}

/* Desktop 15 inches */
@media only screen and (max-width: 1600px) {
  .nav {
    font-size: 1.4rem;
  }
}
/* iPad  Pro*/
@media only screen and (max-width: 1030px) {
}
/* iPad */
@media only screen and (max-width: 770px) {
  .nav-right {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-toggle {
    display: flex;
    width: 2.5rem;
  }
  .nav-bottom {
    transform: translateY(0.25rem);
  }
  .nav-top {
    transform: translateY(-0.25rem);
  }
  .close-nav .nav-top {
    transform: rotate(45deg);
  }
  .close-nav .nav-bottom {
    transform: rotate(-45deg);
  }
}
/* Surface Duo */
@media only screen and (max-width: 550px) {
  .nav {
    font-size: 1.2rem;
  }
  .nav-right {
    width: 25%;
  }
  .nav-toggle {
    display: flex;
    width: 1.5rem;
  }
  .nav-toggle div {
    width: 1.5rem;
    height: 0.2rem;
  }
}
/* iPhone 6-8 plus */
@media only screen and (max-width: 415px) {
  .nav {
    padding: 3.5rem 0 2.5rem 0;
  }
}
/* iPhone 6-8 */
@media only screen and (max-width: 380px) {
  .nav {
    font-size: 1.1rem;
  }
  .nav-toggle div {
    width: 1.5rem;
    height: 0.2rem;
  }
}
/* Galaxy s5 */
@media only screen and (max-width: 362px) {
  .nav-toggle div {
    width: 1.5rem;
    height: 0.2rem;
  }
}
/* iPhone 5 */
@media only screen and (max-width: 322px) {
  .nav {
    font-size: 1rem;
  }
  .nav-right {
    width: 25%;
  }
  .nav-toggle div {
    width: 1.1rem;
    height: 0.15rem;
  }
}
/* Galaxy Fold */
@media only screen and (max-width: 282px) {
  .nav {
    font-size: 0.9rem;
  }
}

/* Landscape View */
/* @media only screen and (max-width: 1369px) and (orientation: landscape) {
  .nav {
    font-size: 1.9rem;
  }
} */
/* @media only screen and (max-width: 1025px) and (orientation: landscape) {
  .nav-right {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-toggle {
    display: flex;
    width: 2.5rem;
  }
  .nav-bottom {
    transform: translateY(0.5rem);
  }
  .nav-top {
    transform: translateY(-0.5rem);
  }
  .close-nav .nav-top {
    transform: rotate(45deg);
  }
  .close-nav .nav-bottom {
    transform: rotate(-45deg);
  }
} */
/* Pixel 2 XL - IPhone X */
/* @media only screen and (max-width: 824px) and (orientation: landscape) {
  .nav {
    font-size: 1.2rem;
    height: 15vh;
  }
  .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin: 0 0 0 2rem;
    width: 1.5rem;
  }
  .nav-toggle div {
    position: absolute;
    width: 1.5rem;
    height: 0.2rem;
  }
  .nav-top {
    transform: translateY(-0.25rem);
  }
  .nav-bottom {
    transform: translateY(0.25rem);
  }
  .close-nav .nav-top {
    transform: rotate(45deg);
  }
  .close-nav .nav-bottom {
    transform: rotate(-45deg);
  }
} */
/* iPhone 6-8 plus - Pixel 2 */
/* @media only screen and (max-width: 740px) and (orientation: landscape) {
  .nav-right {
    width: unset;
  }
} */
/* Surface Duo */
@media only screen and (max-width: 721px) and (orientation: landscape) {
}
/* iPhone 6-8 */
/* @media only screen and (max-width: 668px) and (orientation: landscape) {
  .nav {
    font-size: 1.1rem;
  }
} */
/* Galaxy Fold  */
/* @media only screen and (max-width: 655px) and (orientation: landscape) {
  .nav {
    font-size: 0.9rem;
  }
  .nav-toggle {
    margin: 0 0 0 1.5rem;
  }
  .nav-toggle div {
    width: 1.1rem;
    height: 0.15rem;
  }
} */
/* Galaxy s5 */
/* @media only screen and (max-width: 641px) and (orientation: landscape) {
  .nav {
    font-size: 1.1rem;
  }
  .nav-toggle div {
    width: 1.5rem;
    height: 0.2rem;
  }
} */
/* iPhone 5 */
/* @media only screen and (max-width: 569px) and (orientation: landscape) {
  .nav {
    font-size: 1rem;
  }
  .nav-toggle div {
    width: 1.1rem;
    height: 0.15rem;
  }
} */
